@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Chord Progression Picker!</h1>
    <p>Click <a asp-page="/ChordPicker">here</a> to get a random chord progression.</p>
</div>